.container
  nav.navbar.is-fixed-top.has-shadow(role='navigation' aria-label='main navigation')
    .container
      .navbar-brand
        a.navbar-item(href='/')
          img(src='/assets/logo.png' width='80' height='28')

        a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarMenu')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      #navbarMenu.navbar-menu
        .navbar-start
          a.navbar-item(href='/')
            span.icon
              i.fas.fa-home
            span Inicio
          a.navbar-item(href='#')
            span.icon
              i.fas.fa-star
            span Publicaciones

        .navbar-end
          div#result_search.navbar-item.has-dropdown.is-right
          .control.is-small.navbar-item
            input#search.input.is-small.is-rounded(type='search' placeholder='Buscar')
          a.navbar-item.is-hidden-mobile(href='/login')
            span.icon
              i.fas.fa-sign-in-alt
            span login
          a.navbar-item.is-hidden-mobile(href='/register') 
            span.icon
              i.fas.fa-user-plus
            span register