extends layout

block navbar
  include includes/nav.pug

block content
  section.hero.is-light.is-fullheight.has-gb-img
    .hero-head
      header.navbar
        .container
          .navbar-brand
            a.navbar-item
            span.navbar-burger.burger(data-target='navbarMenuHeroC')
              span
              span
              span
          #navbarMenuHeroC.navbar-menu
            .navbar-end
              span.navbar-item
                a.button.is-light.is-inverted(href='https://github.com/threevanny/uforoapp' target='_blank')
                  span.icon
                    i.fab.fa-github
                  span GitHub
    .hero-body
      .container.has-text-centered
        main.content
          h1.title.has-text-white Uforo API
    .hero-foot
      .tabs.is-boxed.is-fullwidth
        .container.has-text-centered
          p
            small &copy; 2020 uforo. All rights reserved.
