extends layout

block navbar
  include includes/navc.pug

block content
  section.section
    .container
      .columns
        .column.is-offset-4.is-4.is-offset-4.mt-10
          .box.has-text-centered
            h1.title.has-text-centered Registrarse
            .card-content 
              form(action='' method='POST')
                .field
                  p.control.has-icons-left.has-icons-right
                    input.input(type='text' name='name' placeholder='Nombre' required='true' )
                    span.icon.is-small.is-left
                      i.fas.fa-user
               
                .field
                  p.control.has-icons-left.has-icons-right
                    input.input(type='email' name='email' placeholder='example@correounivalle.edu.co' required='true')
                    span.icon.is-small.is-left
                      i.fas.fa-envelope
                .field
                  p.control.has-icons-left.has-icons-right
                    input.input(type='password' name='password' placeholder='Password' minlength=8 required='true')
                    span.icon.is-small.is-left
                      i.fa.fa-key.fa-fw
                .field
                  p.control
                    button.button.is-danger.is-fullwidth(type='submit')
                      | Registrarse
                small.help ¿Ya tienes una cuenta?
                  a(href='/login') &nbsp; Inicia sesíon
